body {
    margin: 0;
    padding: 0;
    background: #333;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;


}

.main {
    margin: 0 auto;
    width: 50%;
    height: 100vh;

}

.title {
    width: 100%;
    text-align: center;
}

.title h1{
    font-family: 'Pacifico', cursive;
    vertical-align: middle;
    font-size: 4em;
}

.timing {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin: 20px;
}

.break,
.session {
    width: 50%;
    text-align: center;
}


.select {
    display: inline-flex;
    flex-direction: row;
    width: 85px;
    align-items: center;
    justify-content: space-between;
}

.select p{
    font-size: 2em;
    margin: 0;
}

.btn {
    font-size: 2em;
    cursor: pointer;
}

.timer{
    margin: 80px;
}


.circle {
    width: 300px;
    height: 300px;
    border-radius:100%;
    border: 2px solid #99CC00;
    margin: 10px auto;
    position:relative;
    z-index:1;
    overflow:hidden;
    cursor: pointer;
}

#filler{
    position:absolute;
    bottom:0;
    right:0;
    height:0;
    width:100%;
    background:#99CC00;
    z-index:-1;
}

.countdown{
    text-align: center;
    font-size: 2em;
    vertical-align: bottom;
    top: 50%;
    position: relative;
    cursor: pointer;
}