<!DOCTYPE HTML>

<html>
    <head>
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    </head>


    <body ng-app="app">
        <div class="main"  ng-controller="TimeCtrl">
            <div class="title">
                <h1>Pomodoro Clock</h1>
            </div>

            <div class="timing">
                <!-- Break Length -->
                <div class="break">
                    <h3>Break Length</h3>
                    <div class="select">
                        <a class="btn" ng-click="decreaseBreak()">-</a>
                        <p>{{breakLength}}</p>
                        <a class="btn" ng-click="increaseBreak()">+</a>
                    </div>
                </div>

                <!-- Session Length -->
                <div class="session">
                    <h3>Session Length</h3>
                    <div class="select">
                        <a class="btn" ng-click="decreaseSession()">-</a>
                        <p>{{sessionLength}}</p>
                        <a class="btn" ng-click="increaseSession()">+</a>
                    </div>
                </div>

            </div>

            
            <div class="timer">
                    <div class="circle" ng-click="toggleTimer()">
                        <div id="filler" ng-style="{'height': fillerHeight+'%', 'background': color}">
                        </div>
                        <div class="countdown">
                                {{sessionLength}}
                        </div>
                    </div>


                    <p style="text-align: center; margin-top: 10px;">By Rashmi Malpande</p>
            </div>
        </div>
    
    

        <script src="js/app.js" type="text/javascript"></script>
    </body>

</html>